@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;  
    background-color: white;
    box-sizing: border-box; 
}


.etchasketch{
    display: flex;
    flex-flow: column wrap;
    flex: 0;
    background-color: #d41920;
    width: 800px;
    align-items: center;
    margin-top: 50px;
    border: 5px black solid;
    border-radius: 10px;
}

.buttonbar{
    display: flex;
    flex-flow: row;
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    height: 35px;   
}

.screensides{
    display: flex;
    flex-flow: row;
}

.dial{
    align-self: flex-end;
    margin: 50px;
    border: black 2px dotted;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

button{
    border: none;
    color: black;
    font-size: 14px;
    background-color: lightgrey;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

p{
    font-size: 48px;
    font-family: 'Architects Daughter', sans-serif;
    padding: 0px;
    margin: 5px;
    color:gold;

/* creates border around text */
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.container{
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    height: 400px;
    width: 400px;
    border: black solid 5px;
    border-radius: 5px;
}

.row{
    display: flex;
    flex-flow: row;
    flex: 1;
}

.cell{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    background-color: white;
    transition-duration: 250ms;
    
}
